---
layout: page
title: "About"
description: "Hello, World."
header-img: "img/about_header.png"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

  <!-- 个人信息 -->
  <h2>birdie</h2>

  <p>组合优化+深度学习、AI Infra </p>

  <!-- 教育经历 -->
  <h3>教育经历</h3>
  <ul>
    <li>
      <strong>中山大学 计算机技术硕士</strong>｜计算机学院｜2023.09 – 2026.06<br>
      研究生一年级平均成绩 90.977，综合成绩 1/224。
    </li>
    <li>
      <strong>中山大学 计算机科学与技术本科</strong>｜计算机学院｜2019.09 – 2023.06<br>
      GPA：3.98/4.0
    </li>
  </ul>

  <!-- 荣誉奖项 -->
  <h3>荣誉奖项</h3>
  <ul>
    <li>国家奖学金</li>
    <li>腾讯奖学金</li>
    <li>国际大学生程序设计竞赛（ACM-ICPC）区域赛银牌 x4</li>
    <li>中国计算机应用技术大赛——全国算法精英大赛金奖</li>
    <li>中国大学生程序设计竞赛（CCPC）银牌</li>
    <li>优秀学生奖（助）学金 x5</li>
    <li>优秀本科生毕业论文</li>
  </ul>

  <!-- 项目经历 / 论文 -->
  <h3>项目</h3>
  <ul>
    <li>
      <strong>基于昇腾的大模型算子推理优化</strong>｜2024.06 – 2025.06<br>
    </li>
    <li>
      <strong>高德斯精密科技有限公司排产调度优化</strong>｜2024.06 – 2024.08<br>
    </li>
   </ul>

   <h3>论文</h3>
   <ul>
    <li>
      <strong>Learning Node-Pair Insertion for the Pickup and Delivery Problem with Time Windows</strong><br>
      第一作者，IEEE SMC 2024 Oral，提出插入构造新范式，解决 RL 在复杂约束组合优化中无法直接构造的问题。
    </li>
    <li>
      <strong>A Discrete Diffusion-based Approach for Solving Multi-Objective TSP</strong><br>
      学生二作，IEEE SMC 2024 Oral，提出相邻扩散方法提升多目标解码效率。
    </li>
    <li>
      <strong>UCPO: A Universal Constrained Combinatorial Optimization Method via Preference Optimization</strong><br>
      第一作者，AAAI 2026，首次将偏好优化引入复杂约束组合优化。
    </li>
    <li>
      <strong>多篇论文在审稿阶段</strong><br>
    </li>
  </ul>

  <!-- 实习 / 实践经历 -->
  <h3>实习</h3>
  <ul>
    <li>
      <strong>腾讯科技股份有限公司</strong>｜算法工程师｜TEG / AI 平台 / 游戏 AI 研发中心｜2025.06 – 2025.09<br>
    </li>
    <li>
      <strong>华为技术有限公司</strong>｜算法工程师｜公共开发部 / ICT 产品与解决方案 / 算法组｜2023.09 – 2023.12<br>
    </li>
  </ul>

</div>


<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

